<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @recipe.name %></h2>
    </div>
    <div class="col">
      <%= render "shares/form", share: @share %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p><%= link_to @recipe.url, @recipe.url %></p>
      <%= link_to "Edit", edit_recipe_path(@recipe) %>

      <% if @my_shares.any? %>
        <h6 class="mt-5">Shared with:</h6>
        <table class="table table-sm">
          <tbody>
            <% @my_shares.each do |share| %>
              <tr>
                <td><%= share.recipient_email %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
