<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @recipe.name %></h2>
    </div>
    <div class="col">
      <%= render "shares/form", share: @share %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p><%= link_to @recipe.url, @recipe.url %></p>
      <%= link_to "Edit", edit_recipe_path(@recipe) %> |
      <%= link_to "Remove", @recipe, method: :delete,
        data: { confirm: "Are you sure you want to remove #{@recipe.name}?" } %>

      <h6 class="mt-5">Shared with:</h6>
      <table class="table table-sm">
        <tbody>
          <% @recipe.shares.each do |share| %>
            <tr>
              <td><%= share.recipient_email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>


