<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">
    <%= image_tag("parrot.png", alt: "parrot", width: 30) %>
    Reciparrot
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if logged_in? %>
      <li class="nav-item">
        <%= link_to "Add Recipe", new_recipe_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My Recipes", shares_path, class: "nav-link" %>
      </li>
    <% end %>
    </ul>

    <ul class="navbar-nav">
    <% if current_user %>
      <li class="nav-item">
        <%= link_to "Logout #{current_user.first_name}", signout_path, id: "sign_out" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", login_path, id: "login", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Signup", signup_path, id: "signup", class: "nav-link" %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>
